@font-face {
  src: url("assets/fonts/IndieFlower-Regular.ttf");
  font-family: "comic-font";
}
@font-face {
  font-family: "comic-header";
  src: url("assets/fonts/FreckleFace-Regular.ttf");
}

html,
body,
.v-application {
  font-family: "comic-font", serif !important;
}
